.price-sort {
    margin-top: 10px;



    form {
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 150%;
            color: #3F4E65;

            span {
                font-weight: 500;
                color: #111;
            }
        }

        fieldset {
            margin-top: 16px;
            border: 0;
            display: flex;
            flex-direction: row;
            gap: 10px;

            p {
                color: #111;
                font-weight: 600;
            }

            input {
                background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
                border-radius: 1000px;
                border: 0;
                width: 100px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 4px;
                padding-bottom: 4px;
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color:#3F4E65;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}