.catalogPage {
  width: 1370px;
  margin: 0 auto;
}
.catalogPage .content .title {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.catalogPage .content .title h1 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: block;
  width: fit-content;
}
.catalogPage .content .title form[name=sorting] {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.catalogPage .content .title form[name=sorting] p {
  width: fit-content;
  margin-right: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111;
}
.catalogPage .content .title form[name=sorting] select {
  border: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #3F4E65;
}
.catalogPage .content .title form[name=sorting] select option {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #3F4E65;
}
.catalogPage .content .title form[name=sorting] select:focus {
  outline: none;
}
.catalogPage .content .title form[name=sorting] .switch {
  margin-left: 30px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100px;
  height: 45px;
  padding: 4px;
  background: rgba(188, 166, 122, 0.2);
  border-radius: 1000px;
  background-repeat: no-repeat;
}
.catalogPage .content .title form[name=sorting] .switch .slider {
  width: 49px;
  height: 37px;
  border-radius: 1000px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  transition: margin-left 0.5s;
}
.catalogPage .content .title form[name=sorting] .switch .slider.left {
  background-image: url("../catalog-header/img/burger.svg");
}
.catalogPage .content .title form[name=sorting] .switch .slider.right {
  margin-left: 42px;
  background-image: url("../catalog-header/img/square.svg");
}
.catalogPage .content .title form[name=sorting] .switch.right {
  background-image: url("../catalog-header/img/burger.svg");
  background-position: left 18px center;
}
.catalogPage .content .title form[name=sorting] .switch.left {
  background-image: url("../catalog-header/img/square.svg");
  background-position: right 18px center;
}