<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header test</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header>
        <div class="first-line">
            <div class="first-line--location">
                <img src="./img/location.svg" alt="location">
                <p>г. Кокчетав, ул. Ж. Ташенова 129Б <br>
                    <span>(Рынок Восточный)</span></p>
            </div>
            <div class="first-line--contacts">
                <img src="./img/mail.svg" alt="mail">
                <p>opt.sultan@mail.ru <br>
                   <span>На связи в любое время</span></p>
            </div>
            <ul class="first-line--menu">
                <li>О компании</li>
                <li>Доставка и оплата</li>
                <li>Возврат</li>
                <li>Контакты</li>
            </ul>
        </div>
        <div class="second-line">
            <div class="second-line--content">
                <img src="./img/logo.svg" alt="logo" class="logo">
                <button class="catalog"><p>Каталог</p><img src="./img/squares.svg" alt="squares"></button>
                <form name="search" class="search">
                    <input type="text" name="searchInput" placeholder="Поиск...">
                    <input type="submit" name="searchButton" value=""></input>
                </form>
            </div>
        </div>
    </header>
</body>
</html>