<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <footer>
        <div class="footer--contet">
        </div>
        <div class="footer--content--mobile">
            <img src="./img/logo-mobile.svg" alt="logo" class="footer--content--mobile--logo">
            <button class="footer--content--mobile--price-list">
                <p>Прайс-лист</p>
                <img src="./img/download-mobile.svg" alt="download">
            </button>

            <p class="footer--content--mobile--about-company">
                Компания «Султан» — снабжаем розничные магазины товарами "под ключ" в Кокчетаве
                и Акмолинской области
            </p>

            <p class="footer--content--mobile--about-company">
                Подпишись на скидки и акции
            </p>

            <form name="inputEmail">
                <input type="email" name="inputEmailText" placeholder="Введите ваш E-mail">
                <input type="submit" value="" name="sendEmail">
            </form>

            <div class="footer--content--mobile--menu-block">
                <h3>Меню сайта:</h3>
                <p>О компании</p>
                <p>Доставка и оплата</p>
                <p>Возврат</p>
                <p>Контакты</p>
            </div>

            <div class="footer--content--mobile--menu-block">
                <h3>Категории:</h3>
                <p>Бытовая химия</p>
                <p>Косметика и гигиена</p>
                <p>Товары для дома</p>
                <p>Товары для детей и мам</p>
                <p>Посуда</p>
            </div>


            <h2>Контакты:</h2>

            <div class="footer--content--mobile--phones">
                <strong>+7 (777) 490-00-91</strong>
                <p>время работы: 9:00-20:00</p>
                <p><span>Заказать звонок</span></p>
                <p><span class="mail">opt.sultan@mail.ru</span><br>
                    На связи в любое время
                </p>
            </div>

            <div class="footer--content--mobile--links">
                <p>Связь<br> в мессенджерах:</p>
                <ul class="footer--content--mobile--links--links">
                    <li class="whatsapp"></li>
                    <li class="telegram"></li>
                </ul>
            </div>

            <div class="footer--content--mobile--payment">
                <ul>
                    <li class="visa"></li>
                    <li class="mastercard"></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>